<svg class="icon-sprite" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <symbol id="arrow-up-right" viewBox="0 0 24 24">
    <path d="M5 19 19 5M5 5h14v14" />
  </symbol>
  <symbol id="arrow-down" viewBox="0 0 24 24">
    <path d="M12 4v16m-7-7 7 7 7-7" />
  </symbol>
  <symbol id="arrow-left" viewBox="0 0 24 24">
    <path d="M20 12H4m7-7-7 7 7 7" />
  </symbol>
  <symbol id="arrow-right" viewBox="0 0 24 24">
    <path d="M4 12h16m-7-7 7 7-7 7" />
  </symbol>
  <symbol id="pause" viewBox="0 0 24 24">
    <path d="M8 5v14M16 5v14" stroke-width="4" />
  </symbol>
  <symbol id="play" viewBox="0 0 24 24">
    <path d="m7 4 13 8-13 8Z" fill="currentColor" stroke="none" />
  </symbol>
  <symbol id="plus" viewBox="0 0 24 24"><path d="M4 12h16M12 4v16" /></symbol>
  <symbol id="close" viewBox="0 0 24 24">
    <path d="m5 5 14 14M19 5 5 19" />
  </symbol>
</svg>
